<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bingo Bongo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/index.css" rel="stylesheet">
</head>
<body>
<div class="center viewport">
    <div class="card">
        <div class="center-horizontally">
            <p class="title">Bingo Bongo</p>
        </div>
        <form action="/event" class="center-horizontally">
            <label>
                Token:
                <input type="text" name="token">
            </label>
            <button type="submit">Loslegen</button>
        </form>
    </div>
</div>
</body>
</html>
