body {
  background-color: chocolate;
}

.title {
  font-family: cursive;
  font-size: 3em;
}

.viewport {
  width: 100vw;
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-vertically {
  display: flex;
  align-items: center;
}

.center-horizontally {
  display: flex;
  justify-content: center;
}
